@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: var(--Violet);
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
main header {
    width: 100%;
    height: 18%;
}
main article {
    width: 100%;
    height: 75%;
    display: flex;
}
main article .head {
    height: 100%;
    width: 58%;
}
main article .head img {
    height: 100%;
    width: 100%;
}
main article section {
    width: 42%;
    color: white;
    padding: 3.7rem 0 0 3.5rem;
}
main article section h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    font-family: 'Poppins', sans-serif;
}
main article section p {
    font-size: 1.05rem;
    margin-bottom: 2rem;
    color: #ffffffe8;
}
main article a {
    background-color: white;
    color: var(--Violet);
    text-decoration: none;
    font-size: 1.3rem;
    width: 13rem;
    height: 3.8rem;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease-in-out;
}
main article a:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}
main .icons {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: end;
    align-items: center;
}
main .icons i {
    color: white;
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .icons #twitter {
    margin: 1rem;
}
main .icons i:hover {
    color: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta);
}

@media (max-width: 1024px) {
    main article section {
        padding: 2.7rem 0 0 2.5rem;
    }
    main article section h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    main article a {
        font-size: 1rem;
        width: 12rem;
        height: 3rem;
    }
    main .icons i {
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 425px) {
    body {
        background-image: url(/images/bg-mobile.svg);
        background-position: left top;
    }
    main {
        flex-direction: column;
        background-position: left top;
        width: 85%;
        height: 93%;
    }
    main article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
    }
    main header {
        width: 100%;
        height: 15%;
    }
    main header img {
        width: 8rem;
    }
    main article .head {
        width: 100%;
        height: 40%;
    }
    main article section {
        width: 100%;
        height: 60%;
        padding: 2rem 0 0 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    main article section h1 {
        font-size: 1.7rem;
        margin-bottom: 1.2rem;
    }
    main article section p {
        margin-bottom: 1rem;
        font-size: 1.05rem;
    }
    main article section a {
        font-size: 1rem;
        height: 2.5rem;
    }
    main .icons {
        width: 100%;
        height: 5%;
        justify-content: center;
    }
    main .icons i {
        width: 1.8rem;
        height: 1.8rem;
    }
}